extends ../layouts/page-layout/page.pug

block variables
    - const language = "ru";
    - const title = "Test title";

block content
    header.header
        h1 Header
    main
        .content
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свою свое, осталось о необходимыми себя рыбного! Взгляд речью то она первую меня маленькая, гор одна инициал единственное рыбными рукопись несколько однажды безорфографичный текст продолжил парадигматическая рот строчка все. Рот злых моей страна домах своих! Заманивший свой переписывается пустился строчка жаренные о семантика lorem пояс назад, наш повстречался последний пор составитель образ запятой безорфографичный, рукописи то мир заголовок? Эта, свой рот живет предупреждал что вскоре речью последний назад строчка до продолжил, снова повстречался даже ему языкового наш взгляд переписывается подпоясал, своих подзаголовок океана даль единственное образ курсивных. До, путь сбить.
    footer
        p &copy; 2020 All right reserved
    
